body {
  background-color: #581845;
  max-width: 720px;
}
@font-face {
    font-family: 'gv._timeregular';
    src: url('gvtimeregular-al6jg-webfont.woff2') format('woff2'),
         url('gvtimeregular-al6jg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#intro1 {
  background-color: #FFC300
  font-family: 'gv._timeregular';
}

h3, h2, h1 {
  color: #C70039;
}

p {
  color: #900C3F ;
}

.list{
  background-color: #DAF7A6;
  color: #900C3F;
}

table {
  color: #900C3F
  background-color: #CAFB73;
  padding: 18pt;
  border:solid 4px #C70039;
}
