body {
  background-color: #b4e570; font-family: GvTime; src: url(fonts/gv-time-font/GvTimeRegular-BW768.ttf);
max-width: 720px; padding: 18pt}

#intro1 {background-color: #FFA45B; color: #FFF35B; font-family: cursive;}

h1 {
  color: #64823c;
}
h3, h2 {
  color: #64823c;
}

p {
  color: #5a2714;
}

.list{
  background-color: #BAEC87; color: #5a2714; padding: 18pt;
}

.table {
  background-color: #BAEC87;
  padding: 8px;
  border:solid 4px #FFA45B;
}
