body {
  background-color: #b4e570; font-family: Tahoma, sans-serif;
}

h1 {
  color: #64823c;
}
h3, h2 {
  color: #64823c;
}

p {
  color: #5a2714;
}

ul, ol{
  background-color: #BAEC87; color: #5a2714; background-size: auto;
}

table {
  background-color: #BAEC87;
  border: 6pt;
  border-collapse: collapse;
  color: #5a2714;
  padding: 8px;
}
