body {
  background-color: #b4e570; font-family: Tahoma, sans-serif;
}

h1 {
  color: #64823c;
}
h3 {
  color: #64823c;
}

p {
  color: #5a2714;
}

ul {
  background-color: #BAEC87; color: #5a2714; padding: 8px;
}
ol {
  background-color: #BAEC87; color: #5a2714; padding: 8px;
}
table {
  background-color: #BAEC87;
  border-collapse: collapse;
  color: #5a2714;
  padding: 8px;
}
