body {
  background-color: #b4e570; font-family: Tahoma, sans-serif;
}

h1 {
  color: #64823c;
}
h3 {
  color: #64823c;
}

p {
  color: #5a2714
}

ul {
  background-color: #BAEC87
}
ol {
  border: 2px solid #5a2414; background-color: #BAEC87
}
table {
  background-color: #BAEC87
}
